extends layout

block content
  .Home
    .Hero
      .hero__video-container
        .hero__overlay
        iframe(src='//player.vimeo.com/video/170963719?api=1&background=1')
      .hero__content
        .hero__logo
          img(src='/img/kh-logo.png')

    .InterestForm(hidden)
      .container.InterestForm__container
        button.InterestForm__close(data-click='closeInterestForm()') &times;

        .InterestForm__inner
          .InterestForm__success(hidden)
            h2 Great!
            p We've received your info and will get back to you as soon as possible.
            button.btn.btn--block(data-click='closeInterestForm()') Close

          .InterestForm__form(data-form='membership', hidden)
            h2 Let's book a tour.
            .form-group
              label= dict['form.name']
              input(type='text', name='name')
            .form-group
              label= dict['form.company']
              input(type='text', name='company')
            .form-group
              label= dict['form.email']
              input(type='email', name='email')
            .form-group
              label= dict['form.phone']
              input(type='tel', name='phone')
            .form-group
              label= dict['form.tourDates']
              input(type='text', name='tourDates')
            .form-group
              label= dict['form.addons']
              div
                label
                  input(type='checkbox', name='fixedDesk')
                  | #{dict['plans.addons.fixedDesk.heading']}
              div
                label
                  input(type='checkbox', name='businessAddress')
                  | #{dict['plans.addons.address.heading']}
            .form-group
              label= dict['form.membershipDescription']
              textarea(name='description')
            .form-group
              button.btn.btn--block(data-click='submitInterestForm("membership")') Send

          .InterestForm__form(data-form='meetingRoom', hidden)
            h2 Let's book a meeting room.
            .form-group
              label= dict['form.name']
              input(type='text', name='name')
            .form-group
              label= dict['form.company']
              input(type='text', name='company')
            .form-group
              label= dict['form.email']
              input(type='email', name='email')
            .form-group
              label= dict['form.phone']
              input(type='tel', name='phone')
            .form-group
              label= dict['form.nPeople']
              input(type='text', name='nPeople')
            .form-group
              label= dict['form.meetingRoomDates']
              input(type='text', name='dates')
            .form-group
              label= dict['form.meetingRoomDescription']
              textarea(name='description')
            .form-group
              button.btn.btn--block(data-click='submitInterestForm("meetingRoom")') Send

          .InterestForm__form(data-form='storefront', hidden)
            h2 Let's book the storefront.
            .form-group
              label= dict['form.name']
              input(type='text', name='name')
            .form-group
              label= dict['form.company']
              input(type='text', name='company')
            .form-group
              label= dict['form.email']
              input(type='email', name='email')
            .form-group
              label= dict['form.phone']
              input(type='tel', name='phone')
            .form-group
              label= dict['form.storefrontDates']
              input(type='text', name='dates')
            .form-group
              label= dict['form.storefrontDescription']
              textarea(name='description')
            .form-group
              button.btn.btn--block(data-click='submitInterestForm("storefront")') Send

    .kh-intro
      .language-selector
        a(
          href='/en',
          class="language-button " + (lang == "en" ? "language-button--active" : "")
        ) English
        a(
          href='/de',
          class="language-button " + (lang == "de" ? "language-button--active" : "")
        ) Deutsch
      .container
        h2= dict['intro.heading']
        .kh-intro__main
          .nobreak
            p= dict['intro.p1']
            p= dict['intro.p2']
          .nobreak
            p= dict['intro.p3']
            p= dict['intro.p4']
    .plans.section
      .container
        .plan-list

          .plan.plan--flex
            .plan__image.coverimage
            h3
              | #{dict['plans.membership.heading']}
              small
                a(href='https://www.google.com/maps/place/Feldbergstrasse+39,+4057+Basel')
                  | Feldbergstrasse 39 & 47
                  img.pin(src='/img/pin.svg')
            .plan__desc
              p= dict['plans.membership.p1']
              p= dict['plans.membership.p2']
              p= dict['plans.membership.p3']
            .plan__prices
              .priceset
                .name= dict['plans.monthly']
                .price 190.— CHF
            .plan__features
              ul
                li= dict['plans.location']
                li= dict['plans.coffee']
                li= dict['plans.tea']
                li= dict['plans.printer']
                li= dict['plans.cancellation']
                li= dict['plans.contractLength']
                li= dict['plans.kitchenLoungeGarden']
                li= dict['plans.events']

          .plan.plan--fixed
            .plan__image.coverimage

            h3 Add-ons

            .plan__addon
              h4= dict['plans.addons.fixedDesk.heading']
              .plan__desc
                p= dict['plans.addons.fixedDesk.p1']
              .plan__prices
                .priceset
                  .name= dict['plans.monthly']
                  .price + 200.— CHF
              .plan__features
                ul
                  li= dict['plans.flipcharts']
                  li= dict['plans.projector']
                  li= dict['plans.meetingRoom']
                  li= dict['plans.storage']
                  li= dict['plans.access']

            .plan__addon
              h4= dict['plans.addons.address.heading']
              .plan__desc
                p= dict['plans.addons.address.p1']
              .plan__prices
                .priceset
                  .name= dict['plans.monthly']
                  .price + 100.— CHF

        .plan__book
          button.btn.btn--book(data-click='openInterestForm("membership")')= dict['plans.membership.bookTour']

    .meetingrooms.section
      .container
        h3= dict['meetingRooms.heading']
        .meetingrooms__image.coverimage
        .meetingrooms__desc
          p= dict['meetingRooms.p1']
          p
            | #{dict['meetingRooms.list.start']}
            ul
              li= dict['meetingRooms.list.item1']
              li= dict['meetingRooms.list.item2']
              li= dict['meetingRooms.list.item3']
              li= dict['meetingRooms.list.item4']
              li= dict['meetingRooms.list.item5']
            | #{dict['meetingRooms.list.end']}
          button.btn.btn--book(data-click='openInterestForm("meetingRoom")')= dict['meetingRooms.bookTour']

    .storefront.section
      .container
        .storefront__group
          .storefront__imagewrapper
            .storefront__image.coverimage
          .storefront__desc
            h3= dict['storefront.heading']
            p= dict['storefront.p1']
            p= dict['storefront.p2']
            p= dict['storefront.p3']
            button.btn.btn--book(data-click='openInterestForm("storefront")')= dict['storefront.bookTour']

    .kh-about.section
      .container
        h2= dict['aboutkh.heading']
        .kh-about__blurb
          .kh-about__desc
            .kh-about__logo
              a(href='http://www.coworking.ch/')
                img(src='/img/cowoch.png')
            p= dict['aboutkh.p1']

        .IgFeed
          .ig-pics
          .ig-cta
            a.btn.btn--outline-invert(href='https://instagram.com/kleinhafen')= dict['igfeed.follow']

block scripts
  script(src='/js/home.js')
